html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
	margin: 0;
  padding: 0;


	font-family: "PT Sans", Arial, sans-serif;
	font-size: 14px;
	line-height: 21px;
	font-weight: 400;
  text-transform: uppercase;
  color: #333333;
  background-color: #f2f2f2;
}

a {
  text-decoration: none;
}
/* responsive images */
img {
  max-width: 100%;
  /* height: auto; */
}

.button {
  font: inherit;

  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;

  border: none;
}

.button-search,
.social-button,
.button-more {
  background-color: #81b3d2;
}

.button-search:hover,
.button-search:focus,
.social-button:hover,
.social-button:focus,
.button-more:hover,
.button-more:focus {
  background-color: #669ec0;
}

.button-search:active,
.social-button:active,
.button-more:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

.button-show-form,
.button-book {
  background-color: #766357;
}

.button-show-form:hover,
.button-show-form:focus,
.button-book:hover,
.button-book:focus {
  background-color: #604e43;
}

.button-show-form:active,
.button-book:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}


/* accessability */
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}


.container {
  max-width: 1200px;
  min-width: 768px;
  margin: 0 auto;

  background-color: #ffffff;
  box-shadow: 0 5px 15px 0 rgba(0, 1, 1, 0.2);
}

.main-navigation {
  line-height: 26px;
  font-weight: 700;
}

.main-header {
  position: relative;
}

.main-header-logo {
  position: absolute;
  right: calc(50% - 70px);
  z-index: 1;
}

.site-navigation-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  min-height: 56px;
  margin: 0;
  padding: 0 6%;

  list-style: none;
}

.site-navigation-item {
  width: 22%;
}

.site-navigation-item:nth-child(-n+2) {
  text-align: left;
}

.site-navigation-item:nth-child(n+3) {
  text-align: right;
}

.site-navigation-item:nth-child(2){
  margin-right: 9.5%;
}

.site-navigation-item a[href="map.html"] {
  letter-spacing: 0.3px;
}

.site-navigation-item a {
  color: #000000;
}

.site-navigation-item a:hover:not(.current-page),
.site-navigation-item a:focus:not(.current-page) {
  color: #81b3d2;
}

.site-navigation-item a:active {
  color: #b2b2b2;
}

.site-navigation-item .current-page {
  color: #766357;
}


.hero-image-section {
  position: relative;
  height: 508px;
  overflow: hidden;
}

.hero-image-section::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: url('../img/Svg/polygon.svg');
  background-repeat: no-repeat;
  background-position: bottom center;
}

.hero-image {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  height: 508px;
}

.hero-image-text {
  position: absolute;
  top: 15%;
  right: calc(50% - 229px);
}

.lead-lines {
  padding: 60px 6% 35px;
  line-height: 26px;
  text-align: center;
}

.lead-main {
  width: 500px;
  margin: 0 auto;

  font-size: 21px;
  font-weight: 700;
  letter-spacing: 0.2px;
}

.lead-secondary {
  margin-top: 29px;
  letter-spacing: 0.1px;
}


.features-general-list,
.features-ordered-list {
  padding: 0;
  list-style: none;
  text-align: center;
}

.features h3 {
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
}

.feature-with-image,
.features-general-list,
.features-ordered-list {
  display: flex;
  flex-direction: row;
  margin: 0;
 }

.feature-with-image {
  color: #ffffff;
  background-color: #81b3d2;
}

.feature-text,
.feature-general-item,
.feature-ordered-item {
  width: 33.3%;
}

.feature-text {
  text-align: center;
  padding: 46.5px 4% 46px; /*was 47px*/
}

.feature-text h3 {
  width: 151px;
  margin: 0 auto;
}

.feature-number {
  margin: 25px 0 21px 0;
}


.feature-image {
  width: 66.7%;
  position: relative;
  overflow: hidden;
}

.feature-image img {
    position: absolute;
    /* top city 63% 35% canyon */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.feature-general-item::before {
  content: '';
  position: absolute;
  top: 61px;
  left: 50%;
  width: 75px;
  height: 72px;
  transform: translate(-50%);
  background-repeat: no-repeat;
}

.feature-general-item:nth-child(1)::before {
  background-image: url(../img/Svg/icon-1.svg);
}

.feature-general-item:nth-child(2)::before {
  background-image: url(../img/Svg/icon-3.svg);
}

.feature-general-item:nth-child(3)::before {
  top: 57px;
  width: 61px;
  height: 77px;
  background-image: url(../img/Svg/icon-2.svg);
}


.feature-general-item {
  position: relative;
  padding: 140px 0 81px 0; /*was 73px*/
}
.feature-general-item p {
  width: 290px;
  margin: 25px auto 0;
}


.features-ordered {
  /* height: 256px; */
  background-color: #eeeeee;
}

.features-ordered-list {
  background-color: #eeeeee;
}

.feature-ordered-item {
  padding: 46px 0 60px 0;  /*was 73px*/
}

.feature-ordered-item h3 {
  width: 118px;
  margin: 0 auto;
}

.feature-ordered-item  p:not(.feature-number) {
  width: 270px;
  margin: 0 auto;
}


.search-hotel {
  position: relative;
  padding-top: 26px;
  text-align: center;
}

.search-hotel h2 {
  margin-bottom: 23.5px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
}

.search-hotel-promo {
  margin-bottom: 47px;
  line-height: 24px;
}

.button-show-form {
  display: block;
  width: 568px;
  margin: 0 auto;
  padding: 28px 0 32px;
}

.button-show-form,
.button-search {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.modal-form-show {
	display: block;
	animation: slideDown 1s ease;
}
.modal-form-hide {
	display: none;
}

.search-hotel-form {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  z-index: 1;
  width: 568px;
  padding: 55px 54px 55px;
  background-color: white;
}


.search-hotel-form input,
.search-hotel-form label {
  line-height: 26px;
  font-weight: 700;
}

.search-hotel-form input {
  font: inherit;

  background-color: #f2f2f2;
  border: none
}

.search-hotel-form input:hover {
  background-color: #ebebeb;
}

.search-hotel-form input:focus {
  outline: 2px solid #ebebeb;
  background-color: #ffffff;
}

.search-hotel-form p {
  margin-top: 0;
}

.search-form-arrival,
.search-form-departure {
  margin-bottom: 30px;
}

.search-text-input {
  width: 345px;
  height: 38px;
  margin-left: 16px;
  padding-left: 13px;
  text-transform: uppercase;
}

.search-form-arrival,
.search-form-departure {
  position: relative;
}

.calendar-icon {
  position: absolute;
  top: 7px;
  right: 4px;
  border: none;
  background-color: transparent;
}

.calendar-icon:hover svg,
.calendar-icon:focus svg {
	fill: #000000;
}

.calendar-icon:active svg {
	fill: #81b3d2;
}

.search-form-numbers {
  display: flex;
}

.search-form-numbers input[type="number"] {
	width: 40px;
	height: 38px;
  padding-left: 14px;
  text-align: center;
}

.search-form-adults,
.search-form-children {
  position: relative;
  width: 50%;
}

.search-form-adults .button-minus,
.search-form-adults .button-plus,
.search-form-children .button-minus,
.search-form-children .button-plus {
    position: absolute;
    top: 0;
    width: 38px;
    height: 38px;

    font-size: 30px;
    color: #a9a9a9;
    border: none;
    background-color: #f2f2f2;
    cursor: pointer;
}

.search-form-adults label {
  margin-right: 75px;
}

.search-form-children label {
  margin-right: 62px;
  padding-left: 13px;
}


.search-form-adults .button-minus {
  right: 79px;
}
.search-form-adults .button-plus {
  right: 3px;
}

.search-form-adults {
  text-align: left;
}

.search-form-children .button-minus {
  right: 76px;
}

.search-form-children .button-plus {
  right: 0;
}

.search-form-numbers .button-minus:hover,
.search-form-numbers .button-minus:focus,
.search-form-numbers .button-plus:hover,
.search-form-numbers .button-plus:focus {
  color: #000000;
}

.search-form-numbers .button-minus:active,
.search-form-numbers .button-plus:active {
  color: #81b3d2;
}


.button-search {
  width: 458px;
  height: 58px;
  margin-top: 39px;
}


.section-map {
 position: relative;
 height: 473px;
 overflow: visible;
}

.main-footer {
  position: relative;
  display: flex;
  z-index: 1;
  padding: 25px 0;
  background-color: rgba(254, 254, 254, 0.9);
}

.main-footer {
  display: flex;
}

/* TODO: later use flexbox */
.footer-hashtag,
.footer-social,
.footer-copyright {
  width: 33.3%;
  text-align: center;
}

.footer-hashtag {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.footer-hashtag a {
  color: #000000;
}

.footer-hashtag a:hover,
.footer-hashtag a:focus {
  color: #81b3d2;
}

.footer-hashtag a:active {
  color: #b2b2b2;
}

.footer-social ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 71px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.social-button {
  position: relative;
  display: inline-block;
  width: 48px;
  height: 48px;
  margin: 0 2.2px;
  background-color: #81b3d2;

  vertical-align: top;
}

.social-button::before {
	content: '';
	position: absolute;
	background-repeat: no-repeat;
}

.social-button-twit::before {
  top: 17px;
  left: 16px;
  width: 17px;
  height: 15px;
  background-image: url('../img/svg/twitter.svg');
}

.social-button-fb::before {
  top: 14px;
  left: 17px;
  width: 17px;
  height: 22px;
  background-image: url('../img/svg/fb-icon.svg');
}

.social-button-youtube::before {
  top: 17px;
  left: 14px;
  width: 20px;
  height: 17px;
  background-image: url('../img/svg/youtube.svg');
}

.social-button:hover,
.social-button:focus {
  background-color: #669ec0;
}

.social-button:active {
  background-color: #5496bd;
}

.social-button:active::before {
  opacity: 0.3;
}

.footer-copyright {
  line-height: 26px;
}

.footer-copyright span,
.footer-copyright a {
  display: inline-block;
  vertical-align: middle;
}

.footer-copyright span {
  margin-left: 2px;
  padding-bottom: 8px;
}

.copyright-link {
  margin-left: 6px;
}

.copyright-link:hover svg,
.copyright-link:focus svg {
	fill: #81b3d2;
}

.copyright-link:active svg {
	fill: #bdbbbc;
}

/* Catalog */

.hotel-filters {
  min-height: 217px;

  color: #ffffff;
  background-color: #5e89b0;
  background-image: url('../img/hotels-blur-back.jpg');
}

.filters-form {
  display: flex;
  justify-content: space-between;
  padding: 27px 6% 17px;
}

.filters-form fieldset {
  padding: 0;
  border: none;
}

.filter-legend {
  font-size: 16px;
  font-weight: 700;
}

.filters-form ul {
  list-style: none;
}

.filter-infrastructure legend {
  letter-spacing: 0.3px;
}

.filter-infrastructure label,
.filter-hotel-type label {
  position: relative;
}

.filter-checkbox + label::before {
	content: '';
	position: absolute;
  left: -39.6px;
  top: -2px;
  width: 25px;
  height: 23px;
	background-image: url('../img/svg/checkbox-off.svg');
	background-repeat: no-repeat;
}

.filter-checkbox:checked + label::before {
	background-image: url('../img/svg/checkbox-on.svg');
}

.filter-checkbox:checked:disabled + label::before {
	background-image: url('../img/svg/checkbox-on-disabled.svg');
}

.filter-checkbox:disabled + label::before {
	background-image: url('../img/svg/checkbox-off-disabled.svg');
}



.filter-checkbox:focus + label::before {
  outline: 3px solid #81b3d2;
}

.hotel-type-list label {
  padding-left: 2px;
}

.infrastructure-list li,
.hotel-type-list li {
  margin-top: 25px;
}


.filter-checkbox:hover + label,
.filter-checkbox:focus + label {
  color: #ffffff;
}

.filter-checkbox:disabled + label {
  color: #6a6a6a;
}


.filter-infrastructure {
  margin-left: 0;
}

.filter-hotel-type {
  margin-left: 10.7%;
}
.filter-price-controls {
  width: 315px;
  margin-top: 10px;
}

.filter-price {
  /* display: flex; */
  /* margin-right: -8px; */
  margin-left: auto;
}

.filter-range-title {
  margin-bottom: 9px;

  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
}

.price-controls {
  position: relative;

  height: 36px;
  margin-bottom: 20px;

  font-size: 0;

  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  width: 2px;
  height: 22px;

  background: #ffffff;
  transform: translate(-50%, -50%);
}

.price-controls label {
  display: inline-block;

  font-size: 14px;
  line-height: 32px;
  vertical-align: top;

  cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
  width: 146px;
  padding-left: 64px;
}

.price-controls input {
  width: 50px;
  margin: 0;

  color: inherit;
  font: inherit;

  background: none;
  border: none;
}

.range-controls {
  position: relative;
  margin-bottom: 14px;
}

.range-controls .scale {
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;

  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;

  width: 4px;
  height: 4px;

  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
  box-sizing: content-box;
}

.range-toggle:hover,
.range-toggle:focus {
  top: -10px;
  border: 9px solid #ffffff;
}


.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.button-filter {
  width: 137px;
  /* TODO: delete/change tempmargins */
  margin-top: 18px;
  margin-left: 84px;

  padding: 6px;
  background-color: transparent;
  border: 2px solid #fff;
  border-radius: 2px;
  cursor: pointer;
}

.button-filter:hover,
.button-filter:focus {
  color: #000000;
  background: #ffffff;
}


.sorting-result,
.hotel-name {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}


.sorting,
.hotel-item {
  display: flex;
  padding: 0 6%;
  border-bottom: 1px solid #e5e5e5;
}

.sorting {
  /* height: 86px; */
  padding: 9px 6%;
  align-items: center;
}

.sorting-result {
  margin-right: 48px;
  /* margin-top: 29px; */
}

.sorting-options {
  display: flex;
  margin-top: 5px;
  font-size: 12px;
  line-height: 18px;
}

.sorting-label {
  margin: 0 40px 0 0;
}

.sortings-list {
  display: flex;
  justify-content: space-between;
  width: 238px;
}

.sortings-list,
.hotels-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.sortings-item a {
  color: #b2b2b2;
}

.sortings-item-active a,
.sortings-item a:hover,
.sortings-item a:focus {
  color: #81b3d2;
}

.sortings-item a:active {
  color: #000000;
}

.sortings-item:not(.sortings-item-active) a:not(:active) {
  border-bottom: 1px dotted #81b3d2;
}

.sorting-arrows {
  margin-top: 4px;
  margin-left: auto;
}

.sorting-up {
  padding-right: 8px;
}

.sort-arrow-item:hover path,
.sort-arrow-item:focus path {
  fill: #231F20;
}

.sort-arrow-item.active path,
.sort-arrow-item:active path {
  fill: #81b3d2;
}


.hotel-item {
  padding: 30px 6% 24.5px;
}

.hotel-image {
  margin-right: 30px;
}

.hotel-item-info {
  display: flex;
  flex-wrap: wrap;
  width: 258px;
}

.hotel-name {
  width: 100%;
  margin: -5.5px 0 -3px;
  letter-spacing: 0.15px;
}

.hotel-name a {
  color: #000000;
}

.hotel-info {
  width: 45%;
}

.hotel-reserve {
  width: 55%;
}

.hotel-type,
.hotel-price {
  margin: 7px 0 14px;
}

.button-more, .button-book {
  display: inline-block;
  padding: 3px 0;
  vertical-align: top;
}

.button-more {
  width: 110px;
}

.button-book {
  width: 142px;
}

.hotel-item-rating {
  width: 112px;
  margin-left: auto;
}

.rating-stars {
  height: 18px;
  margin: 0;
  margin-top: -1px;
  margin-right: -2px;
  background-image: url('../img/svg/star.svg');
  background-repeat: repeat no-repeat;
  background-position: right center;
  background-size: 24px 20px;
}

.stars-4 {
  margin-left: 20px;
}

.stars-3 {
  margin-left: 40px;
}

.stars-2 {
  margin-left: 65px;
}

.rating-user-mark {
  margin: 46px 0 0;
  padding: 3px 0 3px 3px;
  text-align: center;
  color: #666;
  background-color: #f2f2f2;
}



.hotel-name a:hover,
.hotel-name a:focus {
  color: #81b3d2;
}

.hotel-name a:active {
  color: #b2b2b2;
}
